@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --red-color: #e94f5b;
  --pink-color-700: #ad2347;
  --pink-color-600: #ce3055;
  --pink-color-500: #e2516c;
  --pink-color-400: #ee7e8f;
  --pink-color-300: #f29aa6;
  --pink-color-200: #f9d2d7;
  --white-color: #ffffff;
  --bg-color: #f7cdce;
  --font-color: #333;
  --font-family: "Arial, sans-serif";
  --font-size: 16px;
  --padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  padding: var(--padding);

  background-color: var(--bg-color);
  color: var(--font-color);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*letter*/

.letter-envelope {
  background-color: var(--red-color);
  width: min(90vw, 35rem);
  height: calc(min(90vw, 35rem) * (20 / 35));

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.letter-envelope::before {
  content: "";
  position: absolute;
  top: calc(((min(90vw, 35rem) * (20 / 35)) / 2) * -1);
  left: 0;
  width: min(90vw, 35rem);
  height: calc((min(90vw, 35rem) * (20 / 35)) / 2);
  background-color: var(--red-color);

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.letter-envelope-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pink-color-400);

  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.letter-envelope-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pink-color-300);

  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}

.letter-envelope-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: min(10vw, 15rem);
  height: auto;
  padding: 0.2rem;

  background-color: var(--white-color);
  border-radius: 50%;
}

/*Letter paper*/
.letter-paper {
  width: min(80vw, 30rem);
  height: calc(min(70vw, 30rem) * (20 / 30));
  background-color: var(--white-color);
  padding: 2rem 2.2rem;

  z-index: auto;
  overflow-y: auto;

  transition: transform 0.5s ease, z-index 0s 0.5s;
}

.letter-paper.active {
  z-index: 10;
  transition: transform 0.5s ease, z-index 0s 0.5s;
}

.letter-paper-date {
  font-size: 0.7rem;
  text-align: right;
}

.letter-paper-subject {
  font-size: 1.3rem;
  color: var(--red-color);
}

.letter-paper-date,
.letter-paper-subject {
  font-family: "Calligraffitti", cursive;
  margin-bottom: 0.3rem;
}

.letter-paper-text {
  height: 100%;

  font-size: 1.5rem;
  text-align: justify;
  margin: 0 0.4rem;
  line-height: 1;

  font-family: "Caveat", cursive;
}

/* Menu */
.letter-paper-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 0.5rem;
}

.letter-paper-tittle {
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
  line-height: 0.8;
  color: var(--red-color);
  margin: 1rem 0.5rem;

  transform: rotate(-3deg) translateY(-1rem);
}

@media (min-width: 680px) {
  .letter-paper-tittle {
    font-size: 3.2rem;
  }
}

.letter-paper-menu p {
  font-size: .9rem;
  text-align: center;
  font-family: "Caveat", cursive;

  margin: 0 1rem;
  line-height: 0.7;

  color: rgba(0, 0, 0, 0.6);
  margin-bottom: .4rem;
}

@media (min-width: 768px) {
  .letter-paper-menu p {
    font-size: 1.4rem;
  }
}
@media (min-width: 540px) {
    .letter-paper-menu p {
      font-size: 1.2rem;
    }
  }

.letter-paper-menu p:first-of-type {
    display: none;
}

@media (min-width: 540px) {
  .letter-paper-menu p:first-of-type {
    display: block;
  }
}

.letter-button {
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;

  color: var(--white-color);

  border: none;
  cursor: pointer;

  background-color: var(--pink-color-400);
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-button:hover {
  background-color: var(--pink-color-500);
}

.letter-button:active {
  background-color: var(--pink-color-300);
}

.letter-button img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2rem;
}

/* Buttons */
.letter-paper-button-top {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-paper-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.letter-paper-link input {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold;

    border-radius: 0.3rem;
    border: #333 solid 1px;
    padding: 0.2rem 0.5rem;

    flex-grow: 1;
}

.letter-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.link-generated, .disable {
    display: none;
}